body {
  margin: 0.5em 1.5em;
}

input[type=checkbox], input[type=submit] {
  margin: 0.5em 0;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
}

table td, table th {
  border: 1px solid;
}

table tr:nth-child(2n), table th {
  background-color: #ddd;
}
