<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>
      Abstimmen - {{#if votingname}}{{votingname}}-{{/if}}Abstimmung
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" media="all" />
    <script type="text/javascript" src="popup.js"></script>
    <script type="text/javascript" src="vote-interactive.js"></script>
    <script type="text/javascript">
      let parts = {};
      {{#projects}}
      parts["{{code}}"] = 0;
      {{/projects}}
      console.log(parts);
    </script>
  </head>
  <body onload="loadPopup();">
    <div id="popup">
      <div id="popup-inner">
        <h2 id="popup-heading">ORGA-Name</h2>
        <a id="popup-link" target="_blank" href="">Link zur Spendenaktion</a>
        <p id="popup-text">Text</p>
      </div>
      <div id="popup-inner2">
        <button id="popup-ok">OK</button>
      </div>
    </div>

    <h1>Abstimmung{{#if votingname}}: {{votingname}}{{/if}}</h1>
    <h2>Abstimmen</h2>

    {{#if datemax}}
    <p>Die Abstimmung ist geöffnet bis {{datemax}}.</p>
    {{/if}}

    <p>
      Nun gilt es, zu ermitteln, welche Organisation wie viel vom Geld erhält.
      Jede der <tt>n</tt> Personen, die hier abstimmt, verfügt über (übriges
      Geld)/(<tt>n</tt>).
    </p>
    <p>
      Du kannst wie folgt über die Verteilung deines Anteils des Geldes
      verfügen: Stelle dir vor, dieser Anteil wäre ein Kuchen. Dann kannst du
      hier entscheiden, in wie viele gleich große Teile du deinen Kuchen teilst,
      und welche Organisation wie viele dieser Kuchenstücke erhält.
    </p>
    <p>
      Nutze die Plus- und Minusknöpfe bei jeder Organisation, um zu bestimmen,
      wie viele <q>Kuchenstücke</q> (Anteile deines Anteils) sie erhält. Du
      kannst deinen <q>Kuchen</q> in maximal 20 Teile teilen. Bei jeder
      Organisation steht der Anteil als gemeiner Bruch geschrieben.
    </p>

    <br />
    <form enctype="multipart/form-data" method="post" action="/submit">
      <div class="items">
        {{#projects}}
        <div class="item" id="item-{{code}}">
          <input
            style="display: none"
            name="{{code}}"
            id="parts-{{code}}"
            type="text"
          />
          <div class="flexrow" style="align-items: center">
            <div class="flexrow pad-right">
              <span
                class="movebtn grayborder plusbtn"
                id="plusbtn-{{code}}"
                onclick="increment('{{code}}')"
                >+</span
              >
              <div class="flexcolumn scorefrac">
                <span class="movebtn score" id="score-{{code}}">0</span>
                <span class="movebtn sum">0</span>
              </div>
              <span
                class="movebtn grayborder minusbtn disabled"
                id="minusbtn-{{code}}"
                onclick="decrement('{{code}}')"
                >-</span
              >
            </div>
            <div class="flexcolumn flex1">
              <span class="category">{{category}}</span>
              <span class="name flex1">{{name}}</span>
            </div>
            <div class="flexcolumn">
              <a
                class="pad infobtn"
                style="vertical-align: center"
                href="javascript:showPopup('{{name}}','{{link}}','{{#newlinetobr}}{{description}}{{/newlinetobr}}')"
                >i</a
              >
            </div>
          </div>
        </div>
        {{/projects}}
      </div>

      <br />
      <input name="consent" id="checkbox-consent" type="checkbox" required />
      <label for="checkbox-consent"
        >Ich erlaube, dass, um Mehrfachantworten zu vermeiden, mein Nutzername
        mit meinem Ergebnis gespeichert wird. Diese Assoziation wird bei
        Ergebnisermittlung nicht berücksichtigt.</label
      >
      <br />
      <br />
      <input id="submitbtn" type="submit" value="Einsenden" disabled />
    </form>
  </body>
</html>
